@import url('http://fonts.googleapis.com/css?family=Raleway:900');
body {
    font-family: 'Titillium Web', sans-serif;
}
h1
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
}
[data-role="content"]
{
    margin: 0 auto;
    width: 80%;
    padding: 0px;
}
[data-role="header"]
{
    line-height: 25px;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
#googleMap {
    height: 18.750em;
    width: 100%;
    background: url('../img/map.png') no-repeat center;
}
.territoryText{
    margin: 0px auto;
}
/* Main paige */
.territoryBlock {
   
    display: inline-block;
   }
.territoryThumb {
    width: 120px;
    height: 120px;
    background-color: black;
   
    display: inline-block;
    margin: 0.625em 0.625em 0.625em 0.625em;
}
.basketball {
    background: url('../img/sports/basketball.png') no-repeat center;
}
.territoryText{
    display: block;
     clear: none;
}