@import url('http://fonts.googleapis.com/css?family=Raleway:200,900');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,600');
body {
    font-family: 'Titillium Web', sans-serif;

}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #262627;
}
h1, .headerText
{
    text-align: center;
    margin-top: 15px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 15px;
}

[data-role="content"]
{
    margin: 0 auto;
    width: 80%;
    padding: 0px;

}
[data-role="header"]
{
    line-height: 25px;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
#googleMap {
    height: 18.750em;
    width: 100%;
    background: url('../img/map.png') no-repeat center;
}
.territoryText{
    margin: 0px auto;
}
/* Main paige */
.territoryBlock {   
    display: inline-block;
   }
.territoryThumb {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 15px;
    display: inline-block;
    margin: 0.625em 0.625em 0.625em 0.625em;
}
.basketball {
    background: url('../img/sports/basketball.png') no-repeat center;
}

.smaller{font-size: smaller;}
.territoryText{
    display: block;
     clear: none;
}
[data-role="content"] h1 {
    text-align: left;
    margin-bottom: 5px;
}
[data-role="content"] h2 {
    font-size: medium;
    margin: 0px;
}
.denTerritoryBlock {
    clear: both;
    display: block;
    margin-bottom: 1em;
}
.denTerritoryBlock .imgBlock {
    border-radius: 10px;
    width: 100%;
    height: 50px;
}
.denTerritoryBlock .metaData {
    color: grey;
    font-size: small;
}